@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Gothic&family=Nanum+Gothic+Coding&display=swap');


$font-brush: 'Nanum Brush Script',
cursive;
$font-gothic: 'Nanum Gothic',
sans-serif;
$font-coding: 'Nanum Gothic Coding',
monospace;

@mixin centered-flex-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes wiggle {
    0% { transform: rotate(10deg); }
    10% { transform: rotate(-10deg); }
    20% { transform: rotate(10deg); }
    30% { transform: rotate(-10deg); }
    40% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    60% { transform: rotate(10deg); }
    70% { transform: rotate(-10deg); }
    80% { transform: rotate(10deg); }
    90% { transform: rotate(-10deg); }
    100% { transform: rotate(10deg); }
}
@keyframes gradient {
    0% {
        box-shadow: 3px 3px 5px rgba(117, 213, 253, 0.5) inset, -3px -3px 5px rgba(255, 0, 193, 0.6) inset; 
    }
    20% {
        box-shadow: 0px 0px 10px rgba(255, 0, 193, 0.6) inset, 3px 3px 10px rgba(0, 255, 249, 0.4) inset;
    }
    40%{
        box-shadow: 0px 0px 5px rgba(0, 255, 249, 0.6) inset, -3px 3px 10px rgba(255, 0, 193, 0.6) inset;
    }
    60%{
        box-shadow: 0px 0px 10px rgba(255, 0, 193, 0.6) inset, 3px -3px 10px rgba(0, 255, 249, 0.6) inset;
    }
    80%{
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8) inset, -3px -3px 10px rgba(255, 0, 193, 0.4) inset;
    }
    100% {
        box-shadow: -3px -3px 5px rgba(117, 213, 253, 0.5) inset, 3px -px 5px rgba(255, 0, 193, 0.6) inset;
    }
}

.neon {
    text-shadow: 2px 2px 3px rgba(117, 213, 253, 0.5), -2px -2px 3px rgba(255, 34, 129, 0.5);
    font-family: $font-coding;
}

.neon-alt {
    text-shadow: -2px -2px 3px rgba(117, 213, 253, 0.5), 2px 2px 3px rgba(255, 34, 129, 0.5);
    font-family: $font-brush;
    font-size: 35px;
}

.about-container {
    max-width: 88vw;
    margin: 0 auto;
    display: grid;
    padding-top: 30px;
    grid-template-areas:
        'heading heading heading'
        'skills img bio'
        'skills img bio'
        'resume mouse bio';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 0.5fr);

    .about-header {
        grid-area: heading;

        p {
            font-family: $font-gothic;
            margin: 0;
            font-size: 30px;
            letter-spacing: 1.3px;
            text-align: center;
            color: rgba($color: white, $alpha: 1);
            text-decoration: none;
            text-shadow: 2px 2px 3px rgba(117, 213, 253, 0.5), -2px -2px 3px rgba(255, 34, 129, 0.5);
            padding: 5px;
        }
    }

    .about-image {
        grid-area: img;
        @include centered-flex-display();

        img {
            max-height: 400px;
        }
    }

    .about-resume {
        grid-area: resume;
        @include centered-flex-display();

        img {
            max-height: 300px;
            border: solid;
            border-radius: 200px;
            box-shadow:  2px 2px 3px rgba(117, 213, 253, 0.5) inset, -2px -2px 3px rgba(255, 34, 129, 0.5) inset;
            cursor: pointer;
            &:hover{
                border-radius:100px;
                animation: gradient 6s infinite alternate;
                transition: 0.5s;
            }
        }
    }

    .about-skills {
        grid-area: skills;
        @include centered-flex-display();
        flex-direction: column;
        color: white;
    }

    .about-bio {
        grid-area: bio;
        @include centered-flex-display();
        flex-direction: column;
        max-width: 90%;
        max-height: 80%;
        font-family: $font-gothic;
        color: white;
        font-size: 20px;
        padding: 20px;

        div {
            background: rgba(0, 0, 0, 0.4);
            padding: 20px;
            border-radius: 10px;
        }

        // box-shadow: 1px 1px 2px rgba(117, 213, 253, 0.6), -1px -1px 2px rgba(255, 34, 129, 0.6);
    }

    .about-links {
        @include centered-flex-display();
        color: white;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 80px;
        a {
            &:nth-of-type(1) {
                color: rgba(117, 213, 253, 0.7);

                svg{
                    filter: drop-shadow( 3px 3px 2px rgba(255, 34, 129, 0.7));
                }
            }

            &:nth-of-type(2) {
                color: rgba(255, 255, 255, 0.5);
                svg{
                    filter: drop-shadow( 3px 3px 2px rgba(174, 51, 255, 0.7));
                }
            }

            &:nth-of-type(3) {
                color: rgba(255, 34, 129, 0.7);
                svg{
                    filter: drop-shadow( 2px 2px 2px rgba(117, 213, 253, 0.7));
                }
            }
            &:hover{
                animation: wiggle 3s infinite alternate-reverse both;
                font-size: 90px;
                filter: drop-shadow( 3px 3px 2px rgba(255, 255, 255, 0.7));
                transition: 0.5s;
            }
        }
    }
}

