@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Gothic&family=Nanum+Gothic+Coding&display=swap');
@import "~bootstrap/scss/bootstrap";

$mobile-break: 425px;
$tablet-break: 768px;
$desktop-break: 1024px;


$font-brush: 'Nanum Brush Script',
cursive;
$font-gothic: 'Nanum Gothic',
sans-serif;
$font-coding: 'Nanum Gothic Coding',
monospace;

@mixin centered-flex-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradient {
    0% {
        box-shadow: 3px 3px 5px rgba(117, 213, 253, 0.9) inset, -3px -3px 5px rgba(255, 0, 193, 0.9) inset;
    }

    20% {
        box-shadow: 0px 0px 10px rgba(255, 0, 193, 0.9) inset, 3px 3px 10px rgba(0, 255, 249, 0.9) inset;
    }

    40% {
        box-shadow: 0px 0px 5px rgba(0, 255, 249, 0.9) inset, -3px 3px 10px rgba(255, 0, 193, 0.9) inset;
    }

    60% {
        box-shadow: 0px 0px 10px rgba(255, 0, 193, 0.9) inset, 3px -3px 10px rgba(0, 255, 249, 0.9) inset;
    }

    80% {
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.9) inset, -3px -3px 10px rgba(255, 0, 193, 0.9) inset;
    }

    100% {
        box-shadow: -3px -3px 5px rgba(117, 213, 253, 0.5) inset, 3px -3px 5px rgba(255, 0, 193, 0.6) inset;
    }
}
@keyframes wiggle {
    0% {
        transform: rotate(5deg);
    }

    5% {
        transform: rotate(-5deg);
    }

    20% {
        transform: rotate(5deg);
    }

    30% {
        transform: rotate(-5deg);
    }

    40% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    60% {
        transform: rotate(5deg);
    }

    70% {
        transform: rotate(-5deg);
    }

    80% {
        transform: rotate(5deg);
    }

    90% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

.portfolio-container {
    @include centered-flex-display();
    flex-direction: column;

    h1 {
        font-family: $font-gothic;
        color: white;
        text-align: center;
        padding-bottom: 25px;
    }

    .projects-container {
        max-width: 95vw;
        flex-wrap: wrap;
        @include centered-flex-display();
        // margin: 40px;


        .project-container {
            @include centered-flex-display();
            flex-direction: column;
            justify-content: flex-end;
            background-size: contain;
            background-position: center;
            height: 300px;
            margin: 1rem;
            width: 300px;
            border: solid rgba(255, 255, 255, 1);
            border-radius: 200px;
            @media screen and (max-width: $tablet-break) {
                width: 200px;
                height: 200px;
                @media screen and (max-width: $mobile-break) {
                    width: 200px;
                    height: 200px;
                    border-radius: 10px;
                    animation: gradient 10s infinite alternate;
                }
            }

            &:hover {
                animation: gradient 6s infinite alternate;
                transition: 0.5s;
                border-radius: 5px;
            }

            img {
                height: 15vw;
                z-index: 0;
                position: static;
            }

            .project-overlay {
                width: 100%;
                text-align: center;
                font-weight: bold;
                height: 50%;
                @include centered-flex-display();
                flex-direction: column;
                justify-content: space-evenly;
                align-items: stretch;
                background: rgba(255, 255, 255, 0.8);
                backdrop-filter: blur(4px);
                h4 {
                    font-family: $font-coding;
                    padding: 5px;
                    font-size: 23px;
                    @media screen and (max-width: $tablet-break) {
                        font-size: 12px;
                        padding: 0;
                        margin: 0;
                    }
                }
                div{
                  svg{
                      padding: 1px;
                      font-size: 23px;
                      @media screen and (max-width: $tablet-break) {
                        font-size: 12px;
                        padding: 0;
                        margin: 0;
                    }
                  } 
                }

                button {
                    background: rgba(0, 0, 0, 0.8);
                    box-shadow: 0px 0px 10px 0px #888888;
                    border-radius: 5px;
                    a {
                        font-size: 18px;
                        color: white;
                        font-family: $font-gothic;
                        margin: 0;
                        padding: 5px;
                        border-radius: 15px;
                        @media screen and (max-width: $tablet-break) {
                            font-size: 10px;
                            padding: 0px;
                        }
                    }

                    &:hover {
                        animation: wiggle 3s infinite alternate-reverse both;
                        font-size: 9px;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}