@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Gothic&family=Nanum+Gothic+Coding&display=swap');


$color1: rgba(66, 75, 84, 1);
$color2: rgba(179, 141, 151, 1);
$color3: rgba(213, 172, 169, 1);
$color4: rgba(235, 207, 178, 1);
$color5: rgba(197, 186, 175, 1);
$light-blue: #85C7F2;

$background-header: $color1;
$background-header-content: $color3;
$background-main: rgba(0, 0, 0, 0.8);


@mixin fade-in($waitTime) {
  animation: wait #{$waitTime},
  fadein 1s ease-in #{$waitTime};
}

@mixin background-change($waitTime) {
  animation: wait #{$waitTime},
  backgroundchange 2s ease-in-out #{$waitTime} fill;
}

$font-brush: 'Nanum Brush Script',
cursive;
$font-gothic: 'Nanum Gothic',
sans-serif;
$font-coding: 'Nanum Gothic Coding',
monospace;

@keyframes wait {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes backgroundchange {
  0% {
    background: 0;
  }

  100% {
    background: 1;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-container {
  @include fade-in('0s');
  //add many delay animations!!
  z-index: -1;
  max-width: 100vw;
  max-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: url('https://res.cloudinary.com/dum4u7sro/image/upload/v1589593901/Desktop_portfolio_of8ycw.png');

  .header-content {
    @include fade-in('1.5s');
    width: 100vw;
    min-height: 100vh;
    letter-spacing: 5px;
    display: flex;
    background: url('https://res.cloudinary.com/dum4u7sro/image/upload/v1589594154/Desktop_portfolio_1_ysntwo.png');
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 2px #4d4d4d inset;

    h1 {
      @include fade-in('3s');
      font-family: $font-brush;
      color: white;
      text-shadow: 5px 5px 5px #000000;
      font-size: 150px;
      font-weight: 400;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    h3 {
      @include fade-in('3.5s');
      font-family: $font-brush;
      color: white;
      text-shadow: 5px 5px 5px #000000;
      font-size: 110px;
      font-weight: 400;
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }
}

.nav-container {
  @include fade-in('4s');
  max-width: 100vw;
  z-index: 3;
  padding: 2vh;
  max-height: 15vh;
  nav {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    img {
      width: 60px;
    }

    p {
      margin: 0;
      color: white;
    }

    :any-link {
      font-family: $font-gothic;
      margin: 0;
      font-size: 30px;
      text-decoration: none;
    }
  }
}


.Main {
  @include fade-in('2s');
  width: 100vw;
  min-height: 100vh;
  z-index: 1;
  position: absolute;
  top: 90vh;
  background: $background-main;
  box-shadow: 0 0 20px;
  backdrop-filter: blur(4px);
  // .footer-container{
  // }
}
